<h2>Add Hike Suggestion</h2>
<div class="formContainer add">
  <form method="post">
    <fieldset>
      <label for="destination">Destination</label><span class="req">* Required field</span>
      <input name="destination" type="text"/>
      <label for="county">County</label><span class="req">* Required field</span>
      <input name="county" type="text"/>
      <label for="meeting_point">Meeting point</label><span class="req">* Required field</span>
      <input name="meeting_point" type="text"/>
      <label for="hike_date">Date</label><span class="req">* Required field</span>
      <input name="hike_date" type="text"/>
      <label for="hike_time">Time</label><span class="req">* Required field</span>
      <input name="hike_time" type="text"/>
      <label for="estimated_time">Estimated hike time</label><span class="req">* Required field</span>
      <input name="estimated_time" type="text"/>
      <label for="diff_level">Difficulty level</label><span class="req">* Required field</span>
      <input name="diff_level" type="text"/>
      <label for="elevation">Elevation</label><span class="req">* Required field</span>
      <input name="elevation" type="text"/>
      <label for="slope">Average slope</label><span class="req">* Required field</span>
      <input name="slope" type="text"/>
      <label for="description">Description</label>
      <textarea name="description"></textarea>     
      <button type="submit" class="button">Add New Hike</button>
    </fieldset>
  </form>
</div>