<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hike Match</title>
    <meta name="author" content="Ira Kriskovic">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption|Rock+Salt" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="script.js"></script>
  </head>
  <body>

    <header>
      <h1 id="logo"><a href="/"><span class="blue">H</span>ike <span class="blue">M</span>atch</a></h1>
      <nav id="navigation" class="right">
        <ul>
          <li><a href="/">Hikes</a></li>
          <li><a href="/info">Info</a></li>
          <li class="logMenu"><a href="/login">Log in</a></li>
          <li class="logMenu"><a href="/register">Register</a></li>
        </ul>
      </nav>

      <nav id="mob-navigation" class="right">
        <ul>
          <li class="dropdown"><a href="#">Menu</a>
          <ul class="dropdown-menu">
            <li class="button"><a href="/">Hikes</a></li>
            <li class="button"><a href="/info">Info</a></li>
            <li class="button"><a href="/login">Log in</a></li>
            <li class="button"><a href="/register">Register</a></li>
          </ul>
        </ul>
      </nav>      

    </header>
    <div class="clearfix"></div>
    </div>

    <main>
     {{{body}}}
    </main>

    <footer>
      <p>National College of Ireland</p>
      <p>HDip in Science in Web Technologies</p>
      <p>Project 2018</p>
    </footer>
  </body>
</html>