<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hike Match</title>
    <meta name="description" content="website for hikers who want to post their hike suggestions with their chosen destinations and dates or join to already posted hike trip">
    <meta name="keywords" content="hiking, mountains, outdoor, recreation, nature, hobby, walking, trekking, health, activity, trip, journey, woods, landscape">
    <meta name="author" content="Ira Kriskovic">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption%7CRock+Salt" rel="stylesheet">
    <link rel="stylesheet" href="../../style.css" type="text/css">
    <script src="../../script.js"></script>
  </head>

  <body>
    <header>
      <h1 id="logo"><a href="/"><span class="blue">H</span>ike<span class="blue"> M</span>atch</a></h1>
      <nav id="navigation" class="right">
        <ul>
          {{#if user}}
            <li><a href="/index">Hikes</a></li>
            <li><a href="/info">Info</a></li>
            <li class="logMenu"><a href="/users/dashboard">Dashboard</a></li>
            <li class="logMenu"><a href="/users/logout">Log out</a></li>
          {{else}}
            <li><a href="/">Hikes</a></li>
            <li><a href="/info">Info</a></li>
            <li class="logMenu"><a href="/users/login">Log in</a></li>
            <li class="logMenu"><a href="/users/register">Register</a></li>
          {{/if}}
        </ul>
      </nav>

      <nav id="mob-navigation" class="right hidden">
        <ul id="hideMobMenu" class="dropdown pointer">
          <li class="dropdownIcon">
            <div class="right">
              <div class="menuIcon"></div>
              <div class="menuIcon"></div>
              <div class="menuIcon"></div>
            </div>
          <ul id="showMobMenu" class="dropdown-menu hidden">
            {{#if user}}
              <li class="button"><a href="/">Hikes</a></li>
              <li class="button"><a href="/info">Info</a></li>
              <li class="logMenu button"><a href="/users/dashboard">Dashboard</a></li>
              <li class="logMenu button"><a href="/users/logout">Log out</a></li>
            {{else}}
              <li class="button"><a href="/">Hikes</a></li>
              <li class="button"><a href="/info">Info</a></li>
              <li class="button"><a href="/users/login">Log in</a></li>
              <li class="button"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </ul>
      </nav>      
    </header>

    <main>
      {{{body}}}
    </main>

    <div class="clearfix"></div>
    <footer>
      <div>
        <p>National College of Ireland</p>
        <p>HDip in Science in Web Technologies</p>
        <p>Project 2018</p>
      </div>
      <div id="css-validation-icon">
        <p>
          <a href="http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fquiet-bastion-71355.herokuapp.com%2Fhikes%2Fshow%2Ffdsgdf&profile=css3svg&usermedium=all&warning=1&vextwarning=">
              <img style="border:0;width:88px;height:31px"
                  src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                  alt="Valid CSS!" /></a>
        </p>
      </div>
    </footer>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdTkiBPybPKCjoCZa9P8vwzxQH5FPOjUI&callback=initMap">
    </script>
  </body>
</html>