<h2>Log in</h2>
<div class="formContainer log">
  <form method="post">
    <fieldset>
      <label for="email">Email</label><span class="req">* Required field</span>
      <input name="email" type="text"/>
      <label for="pass">Password</label><span class="req">* Required field</span>
      <input name="pass" type="text"/>    
      <button type="submit" class="button">Log in</button>
    </fieldset>
  </form>
  <div id="logReg">
    <p>Not registered?</p>
    <a href="register" class="button right">Register</a>
  </div>
</div>
