<h2>Contact</h2>
{{> _errors}}
{{> _message}}
<div class="formContainer">
  <form method="post" novalidate>
    <fieldset>
      <label for="name">Name</label>
      <input name="name" type="text" value="{{user.name}}">
      <label for="email">Email</label>
      <input name="email" type="email" value="{{user.email}}">
      <label for="subject">Subject</label>
      <input name="subject" type="text" value="{{subject}}">
      <label for="message">Message</label>
      <textarea name="message">{{message}}</textarea>   
      <button type="submit" class="button">Send</button>
    </fieldset>
  </form>
</div>