html, body, header, section, article, div, footer, p, h1, ul, li {
	margin: 0;
	padding: 0;
}
body {
  max-width: 960px;
  width: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 0 auto;
  overflow: auto;
}
body, input, textarea, .button, .leftContainer, rightContainer, #dashboard, .searchButtons {
  box-sizing: border-box;
}
h2 {
  font-size: 18px;
  margin-top: 20px;
}
h3 {
  color: #13911f;
  font-size: 16px;
  font-family: 'Rock Salt', cursive;
}
h4 {
  color: #13911f;
  font-size: 14px;
  font-family: 'Rock Salt', cursive;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	background-size: contain;
}
header, h1, h2, .button {
  font-family: 'Rock Salt', cursive;
}
.right {
  float: right;
}
.hidden {
	display: none;
}
.blue {
  color: #1f497d;
}
.italic {
  font-style: italic;
  margin-bottom: 10px;
}
.pointer {
  cursor: pointer;
}
.capitalize{
  text-transform: capitalize;
}
.clearfix {
  clear: both;
}

/* header */
header {
  margin-top: 10px;
  min-height: 80px;
  border-bottom: 1px solid #1f497d;
}
header a {
  color: #13911f;
}
#logo {
  float: left;
}

/* navigation */
#navigation {
  margin: 35px auto;
  font-size: 14px;
  text-transform: uppercase;
}
.logMenu {
  font-size: 9px;
  margin-top: 7px; 
}
#navigation ul li:nth-child(2) {
  padding-right: 20px;
}
#navigation ul li {
  float: left;
  padding-left: 25px;
}
.button, .button a {
  color: #13911f;
  font-size: 14px;
  background-color: #fff;
  border-right: none;
  border-left: none;
}
.button {
  border-top: 1px solid #1f497d;
  border-bottom: 1px solid #1f497d;
  padding-top: 3px;
  padding-bottom: 3px;
}
.button:hover, .button:focus {
  border-top: 2px solid #1f497d;
  border-bottom: 2px solid #1f497d;
  border-right: none;
  border-left: none;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  outline: none;
}
.message {
  font-family: 'Rock Salt', cursive;
  color: #fff;
  background: #13911f;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 15px;
  margin: 30px auto;
  border: none;
}
.error {
  background:  #1f497d;
}

/* index page */
/* gallery */
#galleryContainer {
  width: 100%;
  overflow: auto;
  position:relative;
}
#slider {
	overflow:hidden;
	float:left;
	padding:3px;
}
img {
  background-size: contain;
  width: 100%;
  height: auto;
}
#slider img {
  display: none;
}
#slider img.active {
	display:inline-block;
}
#prev, #next {
  position: absolute;
  width: 5%;
  top: 43%;
  z-index: 1;
  margin: 3px;
}
#prev {
  right: 0;
}
#next {
  left: 0;
}
#add, #searchTopButton {
  display: inline-block;
  margin-top: 20px;
}
#home-buttons {
  margin: 20px 15px;
}

/* dropdown */
.dropdown {
  width: 100%;
  position: relative;
}
.dropdown-menu {
  width: 100%;
  position: absolute;
  right: 0;
  top: 57px;
  margin: 0 auto;
}
.dropdown-menu li {
  text-align: center;
  background-color: #13911f;
  padding: 8px;
}
.dropdown-menu li:hover {
  padding: 7px;
}
.dropdown-menu .button a {
  color: #fff;
  background-color: #13911f;
}

/* search */
#searchTopButton {
  margin-bottom: 25px;
}
.searchButtons {
  width: 23%;
  display: inline-block;
  margin-top: 30px;
  margin-right: 5%;
}
.searchButtons:first-child {
  width: 40%;
  padding: 0;
  margin: 0;
}
.searchButtons .formContainer {
  width: 100%;
  margin: 0;
}
.searchButtons input:last-child {
  width: 70%;
}
.searchButtons input:last-child {
  width: 100%;
}
#county {
  margin-left: 20px;
}
#county .dropdown-menu, #diff_level .dropdown-menu {
  margin-top: -17px;
}
#county .dropdown-menu:hover, #diff_level .dropdown-menu:hover {
  margin-top: -17px;
}
.countyName {
  display: block;
}
#textSearch input {
  width: 70%;
  display: inline-block;
  margin-top: 30px;
  line-height: 5px;
}
#textSearch input:last-child {
  width: 100%;
  display: inline-block;
  margin-top: 30px;
  line-height: 5px;
  color: #13911f;
  background: #fff;
  font-family: 'Rock Salt', cursive;
}
#textSearch input:last-child:hover {
  font-weight: bold;
}
label {
  float: left;
  margin-right: 0.5em;
  white-space: nowrap;
  overflow: hidden;
}
.hikeList {
  width: 45%;
  float: left;
  margin-top: 30px;
  padding-bottom: 50px;
  box-shadow: 1px 1px 5px #1f497d;
}
.hikeList:nth-child(odd) {
  text-align: left;
  margin-right: 4%;
  padding-left: 3%;
}
.hikeList:nth-child(even) {
  text-align: right;
  padding-right: 3%;
}
.hikeList p {
  line-height: 25px;
}
.hikeList:last-child {
  border: none;
}
.details {
  margin-top: 20px;
}

/* form */
.formContainer {
  width: 70%;
  margin: 0 auto;
}
fieldset {
  border: none;
}
.input-field:first-child{
  float: left;
}
input, textarea, select {
  width: 100%;
  height: 40px;
  border: 1px solid #13911f;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 14px;
}
textarea {
  height: 70px;
  padding-top: 8px;
}
.req {
  float: right;
  color: #13911f;
  margin-right: 50px;
}
.select{
  padding: 5px;
}
input:focus, textarea:focus, input:valid, textarea:valid, input:invalid, input:active {
  font-family: 'PT Sans Caption', sans-serif;
}
.formContainer.addEdit {
  margin-top: 50px;
}

/* log in */
#logReg {
  margin: 30px 20px 90px;
}
#logReg p {
  float: left;
}
#logReg a {
  float: right;
}

/* show page */
#show p {
  line-height: 25px;
}
.leftContainer {
  width: 70%;
  display: inline-block;
}
.rightContainer {
  width: 20%;
  display: block;
}
.rightContainer ul li {
  margin-bottom: 25px;
  display: block;
}
#hikeListDetails {
  margin-bottom: 50px;
}
#hidePhone {
  width: 50px;
}
#showPhone {
  margin-top: -41px;
  margin-left: 60px;
}
.interestComment {
  margin-top: 60px;
  position: relative;
}
.interestComment h4 {
  margin-bottom: 0;
}
#interest {
  position: absolute;
  top: -450px;
  right: 62px;
}
#hideInterest {
  margin-top: -55px;
}
#hideComment {
  margin-top: 25px;
}
#interestButton {
  display: block;
  margin-top: 50px;
}
#addComment {
  font-weight: normal;
  display: block;
  margin-top: -56px;
}
#commentList, .interestList {
  border-bottom: 1px solid #1f497d;
  padding-top: 10px;
  padding-bottom: 15px;
}
#map {
  width: 100%;
  height: 300px;
}

/* dashboard */
.dashboard p {
  width: 20%;
  border-bottom: 1px solid #1f497d;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.dashboard p:first-child {
  width: 35%;
  text-align: left;
}
#addHikeDash {
  margin-top: -56px;
}
.dashboard p .button {
  border: none;
}
#dashboardHeader {
  margin-top: 50px;
}

/* footer  */
footer {
  position: relative;
  height: 70px;
  font-family: 'Rock Salt', cursive;
  background: #13911f;
  color: #fff;
  font-size: 11px;
  line-height: 20px;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  z-index: -10;
}
#css-validation-icon {
  position: absolute;
  right: 30px;
  top: 27px;
}


/* media queries */
@media screen and (max-width: 640px) {
/* menu */

  /* navigation */
  #navigation {
    display: none;
  }
  #mob-navigation {
    width: 100%;
    margin-top: -53px;
    display: block;
  }
  .menuIcon {
    position: relative; 
    width: 30px;
    height: 3px;
    background-color: #13911f;
    margin: 6px 0;
  }
  .dropdown {
    width: 100%;
    position: relative;
  }
  #dropdown-menu {
    width: 100%;
    position: absolute;
    right: 0;
    top: 57px;
    margin: 0 auto;
  }
  #dropdown-menu li {
    text-align: center;
    background-color: #13911f;
    padding: 8px;
  }
  #dropdown-menu li:hover  {
    padding: 7px;
  }
  #dropdown-menu .button a {
    color: #fff;
    background-color: #13911f;
  }
  .logMenu {
    font-size: 9px;
    margin-top: 0; 
  }
  /* gallery */
  #galleryContainer {
    display: none;
  }
  /* search */
  .searchButtons {
    display: block;
    margin: 40px auto;
    z-index: 10;
  }
  .searchButtons {
    width: 100%;
  }
  #textSearch {
    margin-top: -20px;
  }
  #textSearch input {
    display: inline-block;
  }
  .searchButtons:first-child {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #css-validation-icon {
    display: none;
  }
  /* hike list */
  .hikeList {
    width: 100%;
  }
  .hikeList h3, .hikeList p{
    text-align: center;
  }
  .hikeList:nth-child(even) {
    text-align: left;
    padding-left: 3%;
    padding-right: 0;
  }

  /* show page */
  .leftContainer {
    width: 100%;
  }
  .rightContainer {
    width: 100%;
    margin: 50px auto;
  }
  .hikeDetails {
    margin-top: 50px;
  }
  .hikeDetails li:nth-child(even) {
    float: right;
    margin-top: -60px;
  }
  #interest {
    position: absolute;
    top: -630px;
    right: 5px;
  }
  #map {
    height: 200px;
  }
}

@media screen and (max-width: 850px) {
  /* form */
  .formContainer {
    width: 100%;
  }
  .searchButtons {
    width: 40%;
    display: inline-block;
    margin-top: 30px;
    margin-right: 5%;
  }
  #textSearch input {
    width: 72%;
  }
  .searchButtons:first-child {
    width: 40%;
    display: block;
  }
  .searchButtons:first-child {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 985px) {
  #textSearch input:last-child {
    padding: 18px 5px;
  }
}

@media screen and (max-width: 1050px) {
  body {
    width: 90%;
  }
}