<h2>Log in</h2>

{{> _errors}}
{{> _message}}

<div class="formContainer log">
  <form method="post" novalidate>
    <fieldset>
      <label for="email">Email</label>
      <input name="email" type="email" value="{{email}}">
      <label for="password">Password</label>
      <input name="password" type="password" value="{{password}}">    
      <button type="submit" class="button">Log in</button>
    </fieldset>
  </form>
  <div id="logReg">
    <p>Not registered?</p>
    <a href="register" class="button right">Register</a>
  </div>
</div>